@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------- */
body {
	width: 1280px;
	height: 940px;
}


	header {
		font-size: 1.75em;
		color: #646DFF;
		background-color: #000000;
		height: 50px;
		text-align: center;
	}

		h1 {
			position: relative;
			top: 20%;
		}

#topo {
	background: #215855;
}

	#topo h2 {
		text-align: center;
		font-family: 'Courier New', Courier, monospace;
		color: #5E144A;
		
	}



	img {
		width: 200px;
		border: 2px dashed #000000;
	}
	section#topo p {
		padding: 2px;

	}

#meio {
	height: 500px;
	background: #7755ca;
	/*background-image: url(fundo-do-meio.jpg);
	opacity: 0.5;*/
	

}

	#meio h2 {
		text-align: center;
		padding: 5px;
	}

	table {
		position: relative;
		margin: auto;
		width: 50%;
	}

		th {
			padding: 5px;
			text-align: center;
			vertical-align: middle;
			background: #eb6fd9;

		}

			.first-row {
				vertical-align: middle;
				text-align: center;
				background: gold;
			}

			.second-row {
				vertical-align: middle;
				text-align: center;
				background: green;
			}

			.third-row {
				vertical-align: middle;
				text-align: center;
				background: purple;
			}


#fim {
	background: #96BAFF;
}

	ul {
		position: absolute;
		top: 5%;
		left: 80%;
	}

		ul li {
			border: 1px solid black;
			background: #5E144A;
			padding: 5px;
			display: inline-block;
			margin: 2px;
			
		}


		ol li {
			list-style-type: decimal;
			display: block;
		}

#fim {
	width: 1280px;
}

	form label {
		display: table;
		padding: 10px;
		margin: 10px;
	}

		label {
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
			border: 1px dashed #000000;
			padding: 5px;
		}



/*

relação de hierarquia e cascata 

função important: "!important"

"*"
"." class - (podem ter várias classes com o mesmo nome)
"#" id - só podem id com o mesmo nome, id é para um objeto único
<tag> não é recomendado estilizar a página por uma tag

CLASSES E ID's tem nomes intuitivos

BEM - padrão de código

refatoração de código
*/